@import "../node_modules/milligram/dist/milligram.min.css";

.wrapper {
 display:block;
 overflow:hidden;
 position:relative;
 width:100%
}
.wrapper .container {
 max-width:80rem
}
.wrapper>.container {
 padding-bottom:7.5rem;
 padding-top:7.5rem
}

.error {
  color: red;
}

ul.Nav {
	padding:0;
	list-style-type:none;
}
ul.Nav li {
	display: inline;
}

ul.Nav  li a {
	/*background-color: #6E6E6E;*/
	background-color:#9b4dca;
	color: #FFF;
	border: 1.5px solid #333;
	font-size: 16px;
	font-weight: 600;
	padding: 1.5px 12px;
	margin: 0 4px;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 5px 0 gray;
	-moz-box-shadow: 0 0 5px 0 gray;
	-webkit-box-shadow: 0 0 5px 0 gray;	
}


ul.Nav  li a#prv{
	float: left;
}

ul.Nav  li a#nxt{
	float: right;
}


ul.Nav a:hover, ul.Nav a:focus {
	background-color: #FFF;
	color: #9b4dca;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
